@import url("/src/style/catppuccin.css");
@import url("/src/style/background.css");
@import url("/src/style/button.css");
@import url("/src/style/container.css");

.errorMsg {
    color: var(--red);
    font-size: small;
    padding-bottom: 0.5%;
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.entry {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    border-radius: 5px;
    width: 100%;
    justify-content: space-between;
}

.entry input {
    margin-left: 1rem;
}

