.errorMsg {
    color: red;
    font-size: small;
    padding-bottom: 0.5%;
}
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    border: thick double #32a1ce;
    padding: 20px;
    margin: 2px;
    border-radius: 15px;
    width: auto;
}

.entry {
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    border-radius: 5px;
    width: 100%;
    justify-content: space-between;
}

.entry input {
    margin-left: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    justify-content: space-between;
}

