@import url("/src/style/catppuccin.scss");
@import url("/src/style/background.scss");
@import url("/src/style/button.scss");
@import url("/src/style/container.scss");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.errorMsg {
  color: var(--red);
  font-size: small;
  padding-bottom: 0.5%;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}


.entry {
  padding-top: 1%;
  padding-bottom: 1%;
  display: flex;
  border-radius: 5px;
  width: 100%;
  justify-content: space-between;
}

.entry input {
  margin-left: 1rem;
}

.padding {
  padding: 1rem;
}
