@import url("/src/style/catppuccin.scss");
@import url("/src/style/background.scss");
@import url("/src/style/button.scss");
@import url("/src/style/container.scss");
@import url("/src/style/topbar.scss");
@import url("/src/style/box.scss");

body h1 {
  color: var(--text);
}

body h2 {
    color: var(--subtext1);
}

.box2 {
    padding: 10rem;
    margin-top:10px;
}

.min-width {
    min-width: 50em;
}

.min-width-10 {
    min-width: 10em;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }
  
